@page
@using System.Globalization
@using TannersWebsiteTemplate.Models;
@model BlogModel
@{
    ViewData["Title"] = Model.Title;//title;
}
@if(SQL.Blog.GetBlogPostCount() >= 1)
{
    <!-- Blog -->
    <h1>@ViewData["Title"]</h1>
    <i>@Model.Date</i>
    <div class="blog"><p class="blogmessage">@Model.Message</p></div>
    <span>
        @if (Model.Post > 1)
        {
            <!--<a href="/Blog?Post=@(Model.Post - 1)">Back</a>-->
            <a href="/Blog/@(Model.Post - 1)">Back</a>
        }
        @if (Model.Post < SQL.Blog.GetBlogPostCount()) // if post id is less than total blog posts
        {
            <!--<a href="/Blog?Post=@(Model.Post + 1)">Next</a>-->
            <a href="/Blog/@(Model.Post + 1)">Next</a>
        }
    </span>
    <!-- Comment Section -->
    <div>
        
        @if ((Model.Title != "Deleted Post" && Model.Title != null))
        {
            // eventually this if statement will be altered a bit to consider blog posts that don't want comments enabled
            <form method="post">
                <fieldset>
                <textarea id="commentbox" style="margin: auto; color: #111" rows="5" col="200" asp-for="Comment"></textarea>
                <input type="hidden" name="CS" value="@Model.Post" />
                <input type="hidden" asp-for="Title" value="@Model.Title" />
                <input type="hidden" asp-for="Message" value="@Model.Message" />
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
                </fieldset>
            </form>
        }
        else
        {
            <b>Commenting is disabled.</b>
        }
    </div>
    <div class="commentsection">
        <table>
            @{
                if (Model.cs.Comments.Count == 0 || Model.cs == null || Model.Title == "Deleted Post")
                {
                    <tr><td><b>No comments available...</b></td></tr>
                }
                else
                {
                    foreach (Comment comment in Model.cs.Comments)
                    {
                        <tr>
                            <td><b><a asp-page="/Profile" asp-route-id="@comment.UserId">@comment.Username</a></b> (@comment.Date)</td>
                            <td class="post">
                                @comment.Content
                            </td>
                            @if (HttpContext.Session.GetInt32("IsAdmin") == 1 && SQL.Admin.IsAdmin(HttpContext.Session.GetInt32("UserId"))) // if the user is admin in session and is admin in the database
                            {
                                <td>
                                    <form method="post" asp-page-handler="Delete">
                                        <input type="hidden" name="commentid" value="@Model.Post" />
                                        <input type="hidden" name="CS" value="@Model.Post" />
                                        <input type="hidden" asp-for="Title" value="@Model.Title" />
                                        <input type="hidden" asp-for="Message" value="@Model.Message" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            }
        </table>
    </div>
}
else
{
    <h1>No Blog Post Available</h1>
    <p>This blog post is either not available or doesn't exist.</p>
}
@if (HttpContext.Session.GetInt32("IsAdmin") == 1 && SQL.Admin.IsAdmin(HttpContext.Session.GetInt32("UserId")))
{
    <a href="/BlogPost">Add Blog Post</a>
}
<script>
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
{
    document.getElementById("commentbox").rows = 1;
}
</script>